header{
  padding:10px;
  background: #007bffb0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
   width:100%;
   
}
.nav-item{
  background-color: #007bff80;
  margin-right: 5px;
}
.nav-item a{
  color:#ffffff;
}

.nav-item:hover a, .nav-link.active{
  background-color: #007bff;
}
header h1{
  margin-bottom: 0px;
  color:#ffffff
}
.form-group{
  width:50%;
 
}
.card{
  margin-bottom: 10px;
}
.product-details{
  font-size: 16px;
  line-height: 20px;
  padding:10px;
  width:30%;
 
}

.product-details:nth-child(3n+0){
  border-bottom: 1px solid #007bffb0;
}